.cardInContainer .cardImage {
	background: url(../images/cardsSprite.png) no-repeat;
	background-size: 1300% 500%;
	background-position: 0 100%;
	animation-direction: alternate;
	animation-fill-mode: forwards;
	transform: rotateY(0deg) skewY(0deg);
  transition-timing-function: 'cubic-bezier(0.46,0,0.54,1)';
}

/* --------DDDDDDDD-------- */

.d_a {animation: d_a .25s;}
@-webkit-keyframes d_a {
  0% {background-position: 0 100%; transform: rotateY(0deg) skewY(0deg);}
  49% {background-position: 0 100%; transform: rotateY(90deg) skewY(-15deg);}
  50% {background-position: 0 0; transform: rotateY(90deg) skewY(15deg);}
  100% {background-position: 0 0; transform: rotateY(0deg) skewY(0deg);}
}
.d_k {animation: d_k .25s;}
@-webkit-keyframes d_k {
  0% {background-position: 0 100%; transform: rotateY(0deg) skewY(0deg);}
  49% {background-position: 0 100%; transform: rotateY(90deg) skewY(-15deg);}
  51% {background-position: 8.3% 0; transform: rotateY(90deg) skewY(15deg);}
  100% {background-position: 8.3% 0; transform: rotateY(0deg) skewY(0deg);}
}
.d_q {animation: d_q .25s;}
@-webkit-keyframes d_q {
  0% {background-position: 0 100%; transform: rotateY(0deg) skewY(0deg);}
  49% {background-position: 0 100%; transform: rotateY(90deg) skewY(-15deg);}
  51% {background-position: 16.6% 0; transform: rotateY(90deg) skewY(15deg);}
  100% {background-position: 16.6% 0; transform: rotateY(0deg) skewY(0deg);}
}
.d_j {animation: d_j .25s;}
@-webkit-keyframes d_j {
  0% {background-position: 0 100%; transform: rotateY(0deg) skewY(0deg);}
  49% {background-position: 0 100%; transform: rotateY(90deg) skewY(-15deg);}
  51% {background-position: 25% 0; transform: rotateY(90deg) skewY(15deg);}
  100% {background-position: 25% 0; transform: rotateY(0deg) skewY(0deg);}
}
.d_10 {animation: d_10 .25s;}
@-webkit-keyframes d_10 {
  0% {background-position: 0 100%; transform: rotateY(0deg) skewY(0deg);}
  49% {background-position: 0 100%; transform: rotateY(90deg) skewY(-15deg);}
  51% {background-position: 33.3% 0; transform: rotateY(90deg) skewY(15deg);}
  100% {background-position: 33.3% 0; transform: rotateY(0deg) skewY(0deg);}
}
.d_9 {animation: d_9 .25s;}
@-webkit-keyframes d_9 {
  0% {background-position: 0 100%; transform: rotateY(0deg) skewY(0deg);}
  49% {background-position: 0 100%; transform: rotateY(90deg) skewY(-15deg);}
  51% {background-position: 41.6% 0; transform: rotateY(90deg) skewY(15deg);}
  100% {background-position: 41.6% 0; transform: rotateY(0deg) skewY(0deg);}
}
.d_8 {animation: d_8 .25s;}
@-webkit-keyframes d_8 {
  0% {background-position: 0 100%; transform: rotateY(0deg) skewY(0deg);}
  49% {background-position: 0 100%; transform: rotateY(90deg) skewY(-15deg);}
  51% {background-position: 50% 0; transform: rotateY(90deg) skewY(15deg);}
  100% {background-position: 50% 0; transform: rotateY(0deg) skewY(0deg);}
}
.d_7 {animation: d_7 .25s;}
@-webkit-keyframes d_7 {
  0% {background-position: 0 100%; transform: rotateY(0deg) skewY(0deg);}
  49% {background-position: 0 100%; transform: rotateY(90deg) skewY(-15deg);}
  51% {background-position: 58.3% 0; transform: rotateY(90deg) skewY(15deg);}
  100% {background-position: 58.3% 0; transform: rotateY(0deg) skewY(0deg);}
}
.d_6 {animation: d_6 .25s;}
@-webkit-keyframes d_6 {
  0% {background-position: 0 100%; transform: rotateY(0deg) skewY(0deg);}
  49% {background-position: 0 100%; transform: rotateY(90deg) skewY(-15deg);}
  51% {background-position: 66.6% 0; transform: rotateY(90deg) skewY(15deg);}
  100% {background-position: 66.6% 0; transform: rotateY(0deg) skewY(0deg);}
}
.d_5 {animation: d_5 .25s;}
@-webkit-keyframes d_5 {
  0% {background-position: 0 100%; transform: rotateY(0deg) skewY(0deg);}
  49% {background-position: 0 100%; transform: rotateY(90deg) skewY(-15deg);}
  51% {background-position: 75% 0; transform: rotateY(90deg) skewY(15deg);}
  100% {background-position: 75% 0; transform: rotateY(0deg) skewY(0deg);}
}
.d_4 {animation: d_4 .25s;}
@-webkit-keyframes d_4 {
  0% {background-position: 0 100%; transform: rotateY(0deg) skewY(0deg);}
  49% {background-position: 0 100%; transform: rotateY(90deg) skewY(-15deg);}
  51% {background-position: 83.3% 0; transform: rotateY(90deg) skewY(15deg);}
  100% {background-position: 83.3% 0; transform: rotateY(0deg) skewY(0deg);}
}
.d_3 {animation: d_3 .25s;}
@-webkit-keyframes d_3 {
  0% {background-position: 0 100%; transform: rotateY(0deg) skewY(0deg);}
  49% {background-position: 0 100%; transform: rotateY(90deg) skewY(-15deg);}
  51% {background-position: 91.6% 0; transform: rotateY(90deg) skewY(15deg);}
  100% {background-position: 91.6% 0; transform: rotateY(0deg) skewY(0deg);}
}
.d_2 {animation: d_2 .25s;}
@-webkit-keyframes d_2 {
  0% {background-position: 0 100%; transform: rotateY(0deg) skewY(0deg);}
  49% {background-position: 0 100%; transform: rotateY(90deg) skewY(-15deg);}
  51% {background-position: 100% 0; transform: rotateY(90deg) skewY(15deg);}
  100% {background-position: 100% 0; transform: rotateY(0deg) skewY(0deg);}
}

/* --------HHHHHHHH-------- */

.h_a {animation: h_a .25s;}
@-webkit-keyframes h_a {
  0% {background-position: 0 100%; transform: rotateY(0deg) skewY(0deg);}
  49% {background-position: 0 100%; transform: rotateY(90deg) skewY(-15deg);}
  51% {background-position: 0 25%; transform: rotateY(90deg) skewY(15deg);}
  100% {background-position: 0 25%; transform: rotateY(0deg) skewY(0deg);}
}
.h_k {animation: h_k .25s;}
@-webkit-keyframes h_k {
  0% {background-position: 0 100%; transform: rotateY(0deg) skewY(0deg);}
  49% {background-position: 0 100%; transform: rotateY(90deg) skewY(-15deg);}
  51% {background-position: 8.3% 25%; transform: rotateY(90deg) skewY(15deg);}
  100% {background-position: 8.3% 25%; transform: rotateY(0deg) skewY(0deg);}
}
.h_q {animation: h_q .25s;}
@-webkit-keyframes h_q {
  0% {background-position: 0 100%; transform: rotateY(0deg) skewY(0deg);}
  49% {background-position: 0 100%; transform: rotateY(90deg) skewY(-15deg);}
  51% {background-position: 16.6% 25%; transform: rotateY(90deg) skewY(15deg);}
  100% {background-position: 16.6% 25%; transform: rotateY(0deg) skewY(0deg);}
}
.h_j {animation: h_j .25s;}
@-webkit-keyframes h_j {
  0% {background-position: 0 100%; transform: rotateY(0deg) skewY(0deg);}
  49% {background-position: 0 100%; transform: rotateY(90deg) skewY(-15deg);}
  51% {background-position: 25% 25%; transform: rotateY(90deg) skewY(15deg);}
  100% {background-position: 25% 25%; transform: rotateY(0deg) skewY(0deg);}
}
.h_10 {animation: h_10 .25s;}
@-webkit-keyframes h_10 {
  0% {background-position: 0 100%; transform: rotateY(0deg) skewY(0deg);}
  49% {background-position: 0 100%; transform: rotateY(90deg) skewY(-15deg);}
  51% {background-position: 33.3% 25%; transform: rotateY(90deg) skewY(15deg);}
  100% {background-position: 33.3% 25%; transform: rotateY(0deg) skewY(0deg);}
}
.h_9 {animation: h_9 .25s;}
@-webkit-keyframes h_9 {
  0% {background-position: 0 100%; transform: rotateY(0deg) skewY(0deg);}
  49% {background-position: 0 100%; transform: rotateY(90deg) skewY(-15deg);}
  51% {background-position: 41.6% 25%; transform: rotateY(90deg) skewY(15deg);}
  100% {background-position: 41.6% 25%; transform: rotateY(0deg) skewY(0deg);}
}
.h_8 {animation: h_8 .25s;}
@-webkit-keyframes h_8 {
  0% {background-position: 0 100%; transform: rotateY(0deg) skewY(0deg);}
  49% {background-position: 0 100%; transform: rotateY(90deg) skewY(-15deg);}
  51% {background-position: 50% 25%; transform: rotateY(90deg) skewY(15deg);}
  100% {background-position: 50% 25%; transform: rotateY(0deg) skewY(0deg);}
}
.h_7 {animation: h_7 .25s;}
@-webkit-keyframes h_7 {
  0% {background-position: 0 100%; transform: rotateY(0deg) skewY(0deg);}
  49% {background-position: 0 100%; transform: rotateY(90deg) skewY(-15deg);}
  51% {background-position: 58.3% 25%; transform: rotateY(90deg) skewY(15deg);}
  100% {background-position: 58.3% 25%; transform: rotateY(0deg) skewY(0deg);}
}
.h_6 {animation: h_6 .25s;}
@-webkit-keyframes h_6 {
  0% {background-position: 0 100%; transform: rotateY(0deg) skewY(0deg);}
  49% {background-position: 0 100%; transform: rotateY(90deg) skewY(-15deg);}
  51% {background-position: 66.6% 25%; transform: rotateY(90deg) skewY(15deg);}
  100% {background-position: 66.6% 25%; transform: rotateY(0deg) skewY(0deg);}
}
.h_5 {animation: h_5 .25s;}
@-webkit-keyframes h_5 {
  0% {background-position: 0 100%; transform: rotateY(0deg) skewY(0deg);}
  49% {background-position: 0 100%; transform: rotateY(90deg) skewY(-15deg);}
  51% {background-position: 75% 25%; transform: rotateY(90deg) skewY(15deg);}
  100% {background-position: 75% 25%; transform: rotateY(0deg) skewY(0deg);}
}
.h_4 {animation: h_4 .25s;}
@-webkit-keyframes h_4 {
  0% {background-position: 0 100%; transform: rotateY(0deg) skewY(0deg);}
  49% {background-position: 0 100%; transform: rotateY(90deg) skewY(-15deg);}
  51% {background-position: 83.3% 25%; transform: rotateY(90deg) skewY(15deg);}
  100% {background-position: 83.3% 25%; transform: rotateY(0deg) skewY(0deg);}
}
.h_3 {animation: h_3 .25s;}
@-webkit-keyframes h_3 {
  0% {background-position: 0 100%; transform: rotateY(0deg) skewY(0deg);}
  49% {background-position: 0 100%; transform: rotateY(90deg) skewY(-15deg);}
  51% {background-position: 91.6% 25%; transform: rotateY(90deg) skewY(15deg);}
  100% {background-position: 91.6% 25%; transform: rotateY(0deg) skewY(0deg);}
}
.h_2 {animation: h_2 .25s;}
@-webkit-keyframes h_2 {
  0% {background-position: 0 100%; transform: rotateY(0deg) skewY(0deg);}
  49% {background-position: 0 100%; transform: rotateY(90deg) skewY(-15deg);}
  51% {background-position: 100% 25%; transform: rotateY(90deg) skewY(15deg);}
  100% {background-position: 100% 25%; transform: rotateY(0deg) skewY(0deg);}
}

/* --------CCCCCCCC-------- */

.c_a {animation: c_a .25s;}
@-webkit-keyframes c_a {
  0% {background-position: 0 100%; transform: rotateY(0deg) skewY(0deg);}
  49% {background-position: 0 100%; transform: rotateY(90deg) skewY(-15deg);}
  51% {background-position: 0 50%; transform: rotateY(90deg) skewY(15deg);}
  100% {background-position: 0 50%; transform: rotateY(0deg) skewY(0deg);}
}
.c_k {animation: c_k .25s;}
@-webkit-keyframes c_k {
  0% {background-position: 0 100%; transform: rotateY(0deg) skewY(0deg);}
  49% {background-position: 0 100%; transform: rotateY(90deg) skewY(-15deg);}
  51% {background-position: 8.3% 50%; transform: rotateY(90deg) skewY(15deg);}
  100% {background-position: 8.3% 50%; transform: rotateY(0deg) skewY(0deg);}
}
.c_q {animation: c_q .25s;}
@-webkit-keyframes c_q {
  0% {background-position: 0 100%; transform: rotateY(0deg) skewY(0deg);}
  49% {background-position: 0 100%; transform: rotateY(90deg) skewY(-15deg);}
  51% {background-position: 16.6% 50%; transform: rotateY(90deg) skewY(15deg);}
  100% {background-position: 16.6% 50%; transform: rotateY(0deg) skewY(0deg);}
}
.c_j {animation: c_j .25s;}
@-webkit-keyframes c_j {
  0% {background-position: 0 100%; transform: rotateY(0deg) skewY(0deg);}
  49% {background-position: 0 100%; transform: rotateY(90deg) skewY(-15deg);}
  51% {background-position: 25% 50%; transform: rotateY(90deg) skewY(15deg);}
  100% {background-position: 25% 50%; transform: rotateY(0deg) skewY(0deg);}
}
.c_10 {animation: c_10 .25s;}
@-webkit-keyframes c_10 {
  0% {background-position: 0 100%; transform: rotateY(0deg) skewY(0deg);}
  49% {background-position: 0 100%; transform: rotateY(90deg) skewY(-15deg);}
  51% {background-position: 33.3% 50%; transform: rotateY(90deg) skewY(15deg);}
  100% {background-position: 33.3% 50%; transform: rotateY(0deg) skewY(0deg);}
}
.c_9 {animation: c_9 .25s;}
@-webkit-keyframes c_9 {
  0% {background-position: 0 100%; transform: rotateY(0deg) skewY(0deg);}
  49% {background-position: 0 100%; transform: rotateY(90deg) skewY(-15deg);}
  51% {background-position: 41.6% 50%; transform: rotateY(90deg) skewY(15deg);}
  100% {background-position: 41.6% 50%; transform: rotateY(0deg) skewY(0deg);}
}
.c_8 {animation: c_8 .25s;}
@-webkit-keyframes c_8 {
  0% {background-position: 0 100%; transform: rotateY(0deg) skewY(0deg);}
  49% {background-position: 0 100%; transform: rotateY(90deg) skewY(-15deg);}
  51% {background-position: 50% 50%; transform: rotateY(90deg) skewY(15deg);}
  100% {background-position: 50% 50%; transform: rotateY(0deg) skewY(0deg);}
}
.c_7 {animation: c_7 .25s;}
@-webkit-keyframes c_7 {
  0% {background-position: 0 100%; transform: rotateY(0deg) skewY(0deg);}
  49% {background-position: 0 100%; transform: rotateY(90deg) skewY(-15deg);}
  51% {background-position: 58.3% 50%; transform: rotateY(90deg) skewY(15deg);}
  100% {background-position: 58.3% 50%; transform: rotateY(0deg) skewY(0deg);}
}
.c_6 {animation: c_6 .25s;}
@-webkit-keyframes c_6 {
  0% {background-position: 0 100%; transform: rotateY(0deg) skewY(0deg);}
  49% {background-position: 0 100%; transform: rotateY(90deg) skewY(-15deg);}
  51% {background-position: 66.6% 50%; transform: rotateY(90deg) skewY(15deg);}
  100% {background-position: 66.6% 50%; transform: rotateY(0deg) skewY(0deg);}
}
.c_5 {animation: c_5 .25s;}
@-webkit-keyframes c_5 {
  0% {background-position: 0 100%; transform: rotateY(0deg) skewY(0deg);}
  49% {background-position: 0 100%; transform: rotateY(90deg) skewY(-15deg);}
  51% {background-position: 75% 50%; transform: rotateY(90deg) skewY(15deg);}
  100% {background-position: 75% 50%; transform: rotateY(0deg) skewY(0deg);}
}
.c_4 {animation: c_4 .25s;}
@-webkit-keyframes c_4 {
  0% {background-position: 0 100%; transform: rotateY(0deg) skewY(0deg);}
  49% {background-position: 0 100%; transform: rotateY(90deg) skewY(-15deg);}
  51% {background-position: 83.3% 50%; transform: rotateY(90deg) skewY(15deg);}
  100% {background-position: 83.3% 50%; transform: rotateY(0deg) skewY(0deg);}
}
.c_3 {animation: c_3 .25s;}
@-webkit-keyframes c_3 {
  0% {background-position: 0 100%; transform: rotateY(0deg) skewY(0deg);}
  49% {background-position: 0 100%; transform: rotateY(90deg) skewY(-15deg);}
  51% {background-position: 91.6% 50%; transform: rotateY(90deg) skewY(15deg);}
  100% {background-position: 91.6% 50%; transform: rotateY(0deg) skewY(0deg);}
}
.c_2 {animation: c_2 .25s;}
@-webkit-keyframes c_2 {
  0% {background-position: 0 100%; transform: rotateY(0deg) skewY(0deg);}
  49% {background-position: 0 100%; transform: rotateY(90deg) skewY(-15deg);}
  51% {background-position: 100% 50%; transform: rotateY(90deg) skewY(15deg);}
  100% {background-position: 100% 50%; transform: rotateY(0deg) skewY(0deg);}
}

/* --------SSSSSSSS-------- */

.s_a {animation: s_a .25s;}
@-webkit-keyframes s_a {
  0% {background-position: 0 100%; transform: rotateY(0deg) skewY(0deg);}
  49% {background-position: 0 100%; transform: rotateY(90deg) skewY(-15deg);}
  51% {background-position: 0 75%; transform: rotateY(90deg) skewY(15deg);}
  100% {background-position: 0 75%; transform: rotateY(0deg) skewY(0deg);}
}
.s_k {animation: s_k .25s;}
@-webkit-keyframes s_k {
  0% {background-position: 0 100%; transform: rotateY(0deg) skewY(0deg);}
  49% {background-position: 0 100%; transform: rotateY(90deg) skewY(-15deg);}
  51% {background-position: 8.3% 75%; transform: rotateY(90deg) skewY(15deg);}
  100% {background-position: 8.3% 75%; transform: rotateY(0deg) skewY(0deg);}
}
.s_q {animation: s_q .25s;}
@-webkit-keyframes s_q {
  0% {background-position: 0 100%; transform: rotateY(0deg) skewY(0deg);}
  49% {background-position: 0 100%; transform: rotateY(90deg) skewY(-15deg);}
  51% {background-position: 16.6% 75%; transform: rotateY(90deg) skewY(15deg);}
  100% {background-position: 16.6% 75%; transform: rotateY(0deg) skewY(0deg);}
}
.s_j {animation: s_j .25s;}
@-webkit-keyframes s_j {
  0% {background-position: 0 100%; transform: rotateY(0deg) skewY(0deg);}
  49% {background-position: 0 100%; transform: rotateY(90deg) skewY(-15deg);}
  51% {background-position: 25% 75%; transform: rotateY(90deg) skewY(15deg);}
  100% {background-position: 25% 75%; transform: rotateY(0deg) skewY(0deg);}
}
.s_10 {animation: s_10 .25s;}
@-webkit-keyframes s_10 {
  0% {background-position: 0 100%; transform: rotateY(0deg) skewY(0deg);}
  49% {background-position: 0 100%; transform: rotateY(90deg) skewY(-15deg);}
  51% {background-position: 33.3% 75%; transform: rotateY(90deg) skewY(15deg);}
  100% {background-position: 33.3% 75%; transform: rotateY(0deg) skewY(0deg);}
}
.s_9 {animation: s_9 .25s;}
@-webkit-keyframes s_9 {
  0% {background-position: 0 100%; transform: rotateY(0deg) skewY(0deg);}
  49% {background-position: 0 100%; transform: rotateY(90deg) skewY(-15deg);}
  51% {background-position: 41.6% 75%; transform: rotateY(90deg) skewY(15deg);}
  100% {background-position: 41.6% 75%; transform: rotateY(0deg) skewY(0deg);}
}
.s_8 {animation: s_8 .25s;}
@-webkit-keyframes s_8 {
  0% {background-position: 0 100%; transform: rotateY(0deg) skewY(0deg);}
  49% {background-position: 0 100%; transform: rotateY(90deg) skewY(-15deg);}
  51% {background-position: 50% 75%; transform: rotateY(90deg) skewY(15deg);}
  100% {background-position: 50% 75%; transform: rotateY(0deg) skewY(0deg);}
}
.s_7 {animation: s_7 .25s;}
@-webkit-keyframes s_7 {
  0% {background-position: 0 100%; transform: rotateY(0deg) skewY(0deg);}
  49% {background-position: 0 100%; transform: rotateY(90deg) skewY(-15deg);}
  51% {background-position: 58.3% 75%; transform: rotateY(90deg) skewY(15deg);}
  100% {background-position: 58.3% 75%; transform: rotateY(0deg) skewY(0deg);}
}
.s_6 {animation: s_6 .25s;}
@-webkit-keyframes s_6 {
  0% {background-position: 0 100%; transform: rotateY(0deg) skewY(0deg);}
  49% {background-position: 0 100%; transform: rotateY(90deg) skewY(-15deg);}
  51% {background-position: 66.6% 75%; transform: rotateY(90deg) skewY(15deg);}
  100% {background-position: 66.6% 75%; transform: rotateY(0deg) skewY(0deg);}
}
.s_5 {animation: s_5 .25s;}
@-webkit-keyframes s_5 {
  0% {background-position: 0 100%; transform: rotateY(0deg) skewY(0deg);}
  49% {background-position: 0 100%; transform: rotateY(90deg) skewY(-15deg);}
  51% {background-position: 75% 75%; transform: rotateY(90deg) skewY(15deg);}
  100% {background-position: 75% 75%; transform: rotateY(0deg) skewY(0deg);}
}
.s_4 {animation: s_4 .25s;}
@-webkit-keyframes s_4 {
  0% {background-position: 0 100%; transform: rotateY(0deg) skewY(0deg);}
  49% {background-position: 0 100%; transform: rotateY(90deg) skewY(-15deg);}
  51% {background-position: 83.3% 75%; transform: rotateY(90deg) skewY(15deg);}
  100% {background-position: 83.3% 75%; transform: rotateY(0deg) skewY(0deg);}
}
.s_3 {animation: s_3 .25s;}
@-webkit-keyframes s_3 {
  0% {background-position: 0 100%; transform: rotateY(0deg) skewY(0deg);}
  49% {background-position: 0 100%; transform: rotateY(90deg) skewY(-15deg);}
  51% {background-position: 91.6% 75%; transform: rotateY(90deg) skewY(15deg);}
  100% {background-position: 91.6% 75%; transform: rotateY(0deg) skewY(0deg);}
}
.s_2 {animation: s_2 .25s;}
@-webkit-keyframes s_2 {
  0% {background-position: 0 100%; transform: rotateY(0deg) skewY(0deg);}
  49% {background-position: 0 100%; transform: rotateY(90deg) skewY(-15deg);}
  51% {background-position: 100% 75%; transform: rotateY(90deg) skewY(15deg);}
  100% {background-position: 100% 75%; transform: rotateY(0deg) skewY(0deg);}
}