* {font-family: "Helvetica"; color: white;}
body {background: black;}
a {border-bottom: none;}
button, 
button:active, 
button:focus {
    outline: none;
}

.appContainer {position: fixed; height: calc(100% - 55px); width: 100%; margin-top: 55px;}
.mainContent {
	height: calc(100% - 60px);
	padding: 0;
	margin: 0; width: 100%;
}

/* Popup */
.mainContentWrap {position: absolute; width: 100%; height: 100%;}
.menuPopup {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: white;}
.menuPopup ul {width:200px; margin: 20px auto; list-style: none;}
.menuPopup ul li a {color: #999; font-size: 20px;}
.menuPopup ul li a:hover {text-decoration: none;}

/* Header */
.bj-nav {padding-right: 15px; text-align: center; background: #000; height: 55px;}
.bj-nav li {display: inline-block;}
.bj-nav li a {
	padding-left: 10px;
	color: white; 
	font-weight: bold; 
	cursor: pointer; 
	display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 17px;
    line-height: 34px;
}
.bj-nav li a:hover {text-decoration: none;}
.navbar-brand > img {display: inline-block;}
.navbar-collapse {border: none; box-shadow: none;}

.navbar-toggle {border: none; margin-right: 0;}
.navbar-inverse .navbar-toggle .icon-bar {background-color: #266d39; height: 4px;}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {background-color: #008724;}

.navbar-form {border: none; box-shadow: none;}

.chipsTotal {line-height: 34px; margin-right: -15px; position: absolute; width: 100%;}
.chipsTotal span {
	vertical-align: middle; 
	line-height: 55px; 
	font-size: 18px; 
	background: url(../images/chip.png) no-repeat; 
	padding-left: 21px;
	background-position: 0 calc(50% - 2px);
}

/* Table */

.tableWrap {
	position: relative;
	height: calc(100% - 20px);
	padding-top: 20px;
	margin-bottom: 20px;
	opacity: 0;
	background-size: auto 100%;
}
.table {
	position: relative;
	text-align: center; 
	height: 80%; 
	margin: 0; 
	color: white; 
	font-weight: bold;
	z-index: 10;
}

/* Cards */

.deckBoxWrap,
.deckFoldedWrap {
	position: absolute;
	left: 60%; top: -9%;
	z-index: 10;
	height: 32%;
}
.deckBoxWrap img,
.deckFoldedWrap img {height: 100%;}
.deckFoldedWrap {left: 28%; top: -4%; height: 26%;}

.cardContainer {display: block; position: relative; height: calc(50% - 45px - 10px);} /* - bubble block; margin between cards; */
.aiCardContainer {margin-bottom: 20px;}
.cardInContainer {
	display: inline-block; 
	text-align: center; 
	height: 100%; 
	opacity: 0;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1);
}
.cardInContainer .cardImage {
	height: 100%;
	border-radius: 5px;
}
.cardClosed {	
	background: url(../images/cardBack.png) no-repeat;
	background-size: 100% 100%;
}
/*.cardInContainer img {height: 100%;}*/
.cardsWrap {display: inline-block; height: 100%; position: relative;}
.moreThenTwoCards {width: 20px !important; overflow: hidden;}
.moreThenTwoCards:first-child {margin-left: 0;}


.createdCardTemp {position: fixed; z-index: 15; opacity: .3; display: inline-block; transform: rotateY(0deg); border-spacing: 0px;}

/* -------- */

.buttonsPanel {height: 70px; padding: 10px; width: 100%; position: fixed; bottom: 0; left: 0; text-align: center;}
.standBtn .checkIcon {color: #30a750;}

.pointsBubble {
	position: relative;
	background: #ffd200; 
	border-radius: 8px;
	display: inline-block;
	font-weight: bold;
	font-size: 17px;
	line-height: 28px;
	text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
	padding: 0 12px;
	margin-bottom: 15px;
}
.pointsBubble:after {
	top: 98%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #ffd200;
	border-width: 8px;
	margin-left: -8px;
}
.pointsBubble-player {
	margin-top: 15px;
	margin-bottom: 0;
}
.pointsBubble-player:after {
	bottom: 98%;
	left: 50%;
	top: auto;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #ffd200;
	border-width: 8px;
	margin-left: -8px;
}


.tableBgWrap {
	position: absolute;
	top: 0; left: 50%;
	height: 100%;
	z-index: 1;
}
.tableBgImg {height: 100%;}
.chipBet {
	position: absolute;
	background: transparent;
	border: none;
	padding: 0;
	height: 10%;
	left: 33%; bottom: 4%;
}
.bet-1 {bottom: 7%;}
.bet-5 {left: 39%; bottom: 5%;}
.bet-25 {left: 45%;}
.bet-100 {left: 51%;}

.betPoints {
	background: url(../images/bet-final.png) no-repeat left center;
	position: absolute;
	bottom: 18%; left: 33%;
    padding-left: 40px;
    line-height: 45px;
    font-size: 18px;
}

@media (max-height: 350px) {
	.table {height: calc(100% - 60px);}
	.buttonsPanel {height: 60px;}
}

.buttonsPanel button {
	background: #fff; 
	border: none;
	color: black;
	height: 100%;
	padding: 10px 20px;
	border-radius: 10px;
	font-weight: bold;
	margin: 0 3px;
}
.buttonsPanel button[disabled] {opacity: .3;}

@media (max-width: 380px) {
	.buttonsPanel button {
		height: 85%;
		padding: 10px 12px;
	}
}