<div class="tableWrap">
	<div class="table">
		<div>
			<div class="pointsBubble">
				<span ng-show="vm.currentTable.dealerValue.low != vm.currentTable.dealerValue.hi" 
					  ng-bind="vm.currentTable.dealerValue.low + '/'"></span>
				<span ng-bind="vm.currentTable.dealerValue.hi"></span>
				<span ng-show="!vm.currentTable.dealerValue">0</span>
			</div>
		</div>

		<div class="aiCardContainer cardContainer">
			<div class="cardsWrap">
				<div card 
					 class="cardInContainer cardInAiContainer{{$index}}"
					 index="$index"
					 type="'ai'"
					 suit="aiCard.suite+'_'+aiCard.text"
					 ng-repeat="aiCard in vm.aiCards">
				</div>
			</div>
		</div>

		<div class="playerCardContainer cardContainer">
			<div class="cardsWrap">
				<div card 
					 class="cardInContainer cardInPlayerContainer{{$index}}"
					 index="$index"
					 type="'player'"
					 suit="playerCard.suite+'_'+playerCard.text"
					 ng-repeat="playerCard in vm.playerCards">
				</div>
			</div>
		</div>

		<div>
			<div class="pointsBubble pointsBubble-player">			
				<span ng-show="vm.currentTable.handInfo.right.playerValue.low != vm.currentTable.handInfo.right.playerValue.hi" 
					  ng-bind="vm.currentTable.handInfo.right.playerValue.low + '/'"></span>
				<span ng-bind="vm.currentTable.handInfo.right.playerValue.hi"></span>
				<span ng-show="!vm.currentTable.handInfo.right.playerValue">0</span>
			</div>
		</div>
	</div>
	<div class="tableBgWrap">
			<div class="deckBoxWrap">
				<img src="images/deckBox.png" alt="">
			</div>
			<div class="deckFoldedWrap">
				<img src="images/deckFolded.png" alt="">
			</div>
			<img class="tableBgImg" src="images/tableBg.png" alt="">
			<img class="chipBet bet-{{::chipImg}} {{vm.stage == 'game' ? 'chipBetIsDisabled' : ''}}" ng-click="vm.bet(chipImg)" ng-src="{{vm.getChipImg(chipImg)}}" alt="" ng-repeat="chipImg in [1,5,25,100]">
			<span class="betPoints" ng-bind='vm.betValue'></span>
	</div>
</div>
<div class="buttonsPanel">
	<div ng-show="vm.stage != 'done'">
		<button class="splitBtn" ng-disabled="!vm.availableActions.split">Split</button>
		<button class="doubleBtn" ng-disabled="!vm.availableActions.double">Double</button>
		<button class="standBtn" ng-disabled="!vm.availableActions.hit" ng-click="vm.hit()">Hit</button>
		<button class="standBtn" ng-disabled="!vm.availableActions.stand" ng-click="vm.stand()"><i class="fa fa-check checkIcon" aria-hidden="true"></i> Stand</button>
	</div>
	<button class="standBtn" ng-disabled="vm.btnsDisabled" ng-click="vm.deal()" ng-show="vm.stage == 'done'">Deal</button>
</div>
<!-- <popup-menu></popup-menu> -->
<!-- <div ng-include="popupTemplate.html"></div> -->