<div class="table">
	<div class="aiCardContainer cardContainer">
		<div class="cardInContainer">
			<div class="cardDescription">11 or 1</div>
			<img src="images/cards/ace.png" alt="">
		</div>
		<div class="cardInContainer">
			<img src="images/cards/cardBack.png" alt="">
		</div>		
	</div>
	<div class="bank">10$</div>
	<div class="playerCardContainer cardContainer">
		<div class="cardInContainer">
			<div class="cardDescription">11 or 1</div>
			<img src="images/cards/ace.png" alt="">
		</div>
		<div class="cardInContainer">
			<img src="images/cards/ace.png" alt="">
		</div>	

		<button class="hitBtn"></button>	
	</div>
	<div class="totalPoints">total: 11</div>
</div>
<div class="buttonsPanel">
	<div class="leftBtnPanel">
		<button class="splitBtn" ng-disabled="true">Split</button>
		<button class="doubleBtn">Double</button>
	</div>
	<div class="rightBtnPanel">
		<button class="standBtn"><i class="fa fa-check" aria-hidden="true"></i> Stand</button>
	</div>
</div>
<!-- <popup-menu></popup-menu> -->
<!-- <div ng-include="popupTemplate.html"></div> -->